
.tree-erd {
  .tree-node-title {
    display: flex;
    
 }
 .tree-node-title-title {
  flex:1;
  
 }

.tree-node-title-options {
  padding-right: 40px;
}
 
 .ant-tree-node-content-wrapper {
     width: 100%;
 }

}

