.console-g6-page {
  background: #fff;
}
.erdcontainer{

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .navContainer{
        position: absolute;
        left: 0;
        top: 0;
        width: 258px;
        border-right: 1px solid #D3D3D3;
        background: #fff;
        bottom: 0;
        z-index: 50;
    }
    .graphContainer {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        >div{
            height: 100%;
        }
    }

    @keyframes hideMove
    {
    from {left:0;}
    to {left:-234px;}
    }

    .hide {
        animation:hideMove .3s infinite;
        animation-iteration-count:1;
        left: -258px;
    }

    @keyframes showMove
    {
    from {left:-258px;}
    to {left:0;}
    }

    .show {
        animation:showMove .3s infinite;
        animation-iteration-count:1;
    }

    .showControl{
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        border-right: 1px solid #D3D3D3;
        background: #fff;
        bottom: 0;
        overflow: hidden;
        z-index: 49;

        .showTitle {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 12px;
            height: 100px;
            > i{
                font-size: 14px;
                color: #3A84AA;
            }
        }
    }

    .rightConfig {
        left: unset;
        right: 0;
        border-left: 1px solid #D3D3D3;
        border-right: unset;
    }

    .navHeader{
        position: relative;
        margin: 0 10px 6px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ECECEC;
        .searchInput{
            border: 1px solid #C3C8CE;
            height: 30px;
            width: 182px;
            margin: 10px 0 0 10px;
            padding-left: 28px;
            &::-webkit-input-placeholder{
                color: #999;
            }
        }
        > i {
            position: absolute;
            left: 20px;
            font-size: 14px;
            color: #999;
            top: 16px;
        }

        .hideControl{
            position: absolute;
            right: 0;
            top: 10px;
            color: #3A84AA;
            cursor: pointer;
            >i {
                font-size: 19px;
                position: relative;
                top: 2px;
                right: -3px;
            }
        }
    }

    .registryBox {
        position: absolute;
        top: 60px;
        bottom: 0;
        margin: auto;
        width: 257px;
    }
    .configContainer {
        position: absolute;
        right: 0;
        top: 0;
        width: 260px;
        border-left: 1px solid #D3D3D3;
        background: #fff;
        bottom: 0;
        z-index: 50;
        .header {
            height: 50px;
            border-bottom: 1px solid #ECECEC;
            line-height: 50px;
            >span {
                font-size: 14px;
                color: #333;
                margin-left: 16px;
            }
            .hideConfig{
                position: absolute;
                right: 16px;
                top: 0;
                color: #3A84AA;

                >i {
                    font-size: 19px;
                    position: relative;
                    top: 2px;
                    right: -3px;
                }
            }
        }

        .title {
            color: #666;
            margin: 14px 16px;
            overflow: hidden;
            label {
                display: inline-block;
                float: left;
                font-weight: bold;
            }
            span {
                display: inline-block;
                float: left;
                width: 166px;
            }
        }

        .config {
            color: #666;
            margin: 14px 16px;
            overflow: hidden;

            label {
                margin-bottom: 6px;
                font-weight: bold;
                display: block;
            }

            input {
                width: 100%;
                height: 28px;
                padding-left: 8px;
                border-radius: 2px;
                border: 1px solid #ddd;
                display: block;
            }
        }
    }

    @keyframes configHideMove
    {
    from {right:0;}
    to {right:-260px;}
    }

    .configHide {
        animation:configHideMove .3s infinite;
        animation-iteration-count:1;
        right: -260px;
    }

    @keyframes configShowMove
    {
    from {right:-260px;}
    to {right:0;}
    }

    .configShow {
        animation:configShowMove .3s infinite;
        animation-iteration-count:1;
    }

    .planToolBar {
        height: 60px;
        position: absolute;
        background: #fff;
        border-top: 1px solid #D3D3D3;
        bottom: 0;
        z-index: 48;
        width: 100%;

        .toolBarBox {
            width: 280px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 50px;
            margin: auto;

            .planBtn {
                text-align: center;
                width: 70px;
                color: #777;
                display: inline-block;
                i {
                    height: 32px;
                    font-size: 24px;
                    display: block;
                }
                span {
                    display: block;
                    font-size: 12px;
                }

                &:hover{
                    cursor: pointer;
                    color: #3A84AA;
                }

                .playBtn {
                    font-size: 32px;
                    line-height: 32px;
                }
            }

            .disabled {
                &:hover{
                    cursor: not-allowed;
                }
            }

        }
    }
}




